version: '3.9'
services:
  postgres:
    image: postgres:16-alpine
    container_name: opiniones_postgres
    restart: always
    environment:
      POSTGRES_DB: opiniones_db
      POSTGRES_USER: root
      POSTGRES_PASSWORD: admin
    ports:
      - '5435:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
